<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
<style>
  html {
    height: 100%;
    background-color: #262626;
    font-family: 'Roboto Mono', monospace;
  }
  body {
    display: flex;
    height: 100%;
    margin: 0px;
    justify-content: center;
    align-items: center;
  }
  #message {
    display: inline-block;
    padding: 40px;
    box-shadow: 10px 8px #0009;
    background-color: #000;
    color: white;
  }
</style>
</head>
<body>
<div id="message">
  <h1>share-term</h1>
  Check the project out at
  <a href="https://github.com/JonasBak/share-term">github</a>
</div>
</body>
</html>
